**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/GoogleVR/
**/SteamVR/
**/VRTK/
*.pidb.meta
*.pdb.meta

# ==== MonoDevelop files
**/*.userprefs
**/*.csproj
**/*.unityproj
**/*.sln

# ==== OSX files
**/.DS_Store
.DS_Store*
._*
.Trashed
notes/
