body {
	margin: 0;
	padding: 0;
	font-family: 'Inter UI', Trebuchet MS;
}

header {
	background-color: black;
	color: white;
}

header h2, header h3{
	display: inline-block;
	margin-left: 5%;
}

header a{
	color: white;
	text-decoration: none;
	border: 2px solid white;
	padding: 3px;
}

main{
	margin-left: 10%;
	width: 80%;
}

hr {
	border: none;
	height: 2px;
	background-color: black;
}

.concept-group{
	width: 100%;
}

.prep-group{
	font-size: 1.2em;
	width: 50%;
}

.note-group{
	width: 50%;
}
